body{
  padding-top: 50px;

}
#headerWrapper{
  position:relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 600px;
  background-image: url(../image/headerlogo/images.jpg);
  backgorund-repeat: no-repeat;
  background-size: 100% 700px;
  background-position: top center;
  background-attachment: fixed;
}

#logotext{
  position: absolute;
  width: 100%;
  height: 180px;
  background-image: url(../imageheaderlogo/images.png);
  background-position: center;
  background-size: 70% 180px;
  top:50%;
  margin-top: -90px;

}

#fore-flower{
  position: absolute;
  width: 100%;
  height: 450px;
  background-image: url(../image/headerlogo/fore-flower.png);
  background-size: auto 400px;
  background-repeat: no-repeat;
  background-position: right bottom;
  top:525px;
  rigth: -50px;
}
#back-flower{
  position: absolute;
  width: 100px;
  height: 350px;
  background-image: url();
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: auto 350px;
  top: 400px;
  left: -25px;

}
.img-thumbnail{
  width:200px;
  height: 200px;
}
#footer{
  margin-top: 50px;

}
img.details{
  width: 33%;
  margin: 15px auto;
}
